export App.css
h1{
    color: yellow;
    text-align: center;
}

#Fuente-head{
    color: aliceblue;
}

div{
    text-align: center;
}

h2{
    color: blue;
    text-align: center;
}

#barra  {
    text-align: center;
    background-image: url(/src/components/img/bannerbackground.jpg);
    height: 100px;
    width: 100%;
    color: white;
}

#fondo {
    background-image: url(/src/components/img/background-gral.jpg);
}

#menu-letras {
    color: white;
    font-size: 2rem;
}

.item {
    color: #30FF24;
    font-size: 24px;
    margin: 0;
    border: solid;
}

.items {
    color:aquamarine;
    font-size: 2rem;
}

.Saludo{
    font-size: 3rem;
    color:magenta;
    background-color: aliceblue;
    text-align: center;
}

#icono-carro {
    background-color: rgba(255,255,255,0.0);
}

#botones {
    margin: 30px;
}

.CartQuantity {
    color: #30FF24;
    font-size: 15px;
}

.ActiveOption {
    color:#30FF24 ;
}

.cart-quantity {
    background-color: red; /* o el color que desees */
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    position: absolute;
    top: 0;
    right: 0;
  }