
h1{
    color: yellow;
}

h2{
    color: blue;
    text-align: center;
}

#barra  {
    text-align: center;
    background-image: url(/src/components/img/bannerbackground.jpg);
    height: 100px;
    width: 100%;
    color: white;
}

#fondo {
    background-image: url(/src/components/img/background-gral.jpg);
}

.cards-gral{
    margin: 3rem;
    align-items: center;
}

.cards-items{
    align-items: center;
    font-size: 30px;
}

#menu-letras {
    color: white;
    font-size: 2rem;
}

#cards.tarjetas{
    margin-bottom: 3;
}

.item {
    color: #30FF24;
    font-size: 24px;
    margin: 0;
    border: solid;
}

.items {
    color:aquamarine;
    font-size: 2rem;
}

.Saludo{
    font-size: 3rem;
    color:magenta;
    background-color: aliceblue;
    text-align: center;
}